#repetitivedivhome{
    width:90%;
    margin:auto;
    border-radius:5px;
    margin-top:5%;
    background-color: #679280;
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px, rgba(240, 46, 170, 0.3) 10px 10px, rgba(240, 46, 170, 0.2) 15px 15px, rgba(95, 100, 95, 0.1) 20px 20px, rgba(240, 46, 170, 0.05) 25px 25px;
    padding:1vw;
}
#h3{
    width:70%;
    margin:auto;
    margin-top:0;
    padding:0;
    text-align: right;;
      
}
.delete{
    background-color: #ee2e31;
}


#h2{
    width:70%;
    margin:auto;
    text-align: left;;
    
}
#span1{
    float:right;
    color:#071e22;
    font-size:1.8vw;
    font-weight:400;
}
#userblogimagedivinhome{
    width:100%;
    margin:auto;
    
}
#userblogimageid{
    width:90%;
    margin:auto;
  
}
#userblogcontentinhome{
    width:100%;
    margin:auto;
}
#pcontent{
    width:80%;
    margin:auto;
    margin-top:2%;
    font-size:1.5vw;
    letter-spacing: 2px;
    font-weight:bold;
    justify-content: center;
    padding:1vw;
}
#image_and_content{
    display:flex;
}